mixin postForm(post = {}, categories = [] )
  form.PostForm(method="POST" action=`/create/${post._id || ''}`)
    .Field
      label.Field-label Title
      input.Field-input(type="text", name="title", placeholder="Post title" value=post.title)
    .Field
      label.Field-label Description
      textarea.Field-textare(name="description")= post.description

    .Field
      label.Field-label Categories
      ul.Field-checkboxGroup
        each category in categories
          input(name="categories" value=category._id type="checkbox")
          label #{category.name}
    .Field
      if post.title
        button.Field-button(type="submit") Edit Post
      else
        button.Field-button(type="submit") Create Post
